<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<h:panelGrid xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
        <h3 style="text-align: center"> Справочник Возростные группы </h3 >
        <f:view>
        <h:form>
            <rich:dataTable rows="20" id="table" value="#{agegroup.agegroups}" var="agegr" style=" width: 100%; border: 2px; ">
                
               <rich:column >
                    <f:facet name="header">
                     <h:outputText value="id"/>
                    </f:facet>
                   <h:inputText id="id_" value="#{agegr.id}"/>
                </rich:column>
                <rich:column >
                    <f:facet name="header">
                     <h:outputText value="Название"/>
                    </f:facet>
                    <h:inputText id="title" value="#{agegr.title}"/>
                </rich:column>
                <rich:column >
                    <f:facet name="header">
                     <h:outputText value="Минимальный возраст"/>
                    </f:facet>
                    <h:inputText id="bndleft" value="#{agegr.age_bound_left}"/>
                    
                </rich:column>
                <rich:column >
                    <f:facet name="header">
                     <h:outputText value="Максимальный возраст"/>
                    </f:facet>
                <h:inputText id="bndright" value="#{agegr.age_bound_right}"/>
                </rich:column>
               
            </rich:dataTable>
            <rich:datascroller align="left" for="table" maxPages="20"
            page="#{agegroup.page}" id="sc2" reRender="table" />
        </h:form>
        </f:view>
</h:panelGrid>
