<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <title>workdesk</title>
    </head>
    
    
    <h:form>
        <rich:panel header="Hey. I'm RF panel">
            Here you are!
        </rich:panel>
     </h:form>
    
    <ui:remove>
    <body onload="#{login.check_logined()}">
           <h:form id="mform">
            <ui:include src="main_menu.xhtml"  />
            <ui:include src="#{login.curpage}"  />
            
           </h:form>
        </body>
    </ui:remove>
</html>

