<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:panelGrid xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form >
        <rich:toolBar>
            <rich:dropDownMenu>
                <f:facet name="label">
                    <h:outputText value="Журналы"/>
                </f:facet>
                <rich:menuItem value="Путевки" action="#{login.setCurpage('permits_journal.xhtml')}" render="mform"/>
                <rich:menuItem value="Договора"/>
                <rich:menuItem value="Приказы"/>

            </rich:dropDownMenu>
            <rich:dropDownMenu>
                <f:facet name="label">
                    <h:outputText value="Справочники"/>
                </f:facet>
                <rich:menuItem value="ДОУ" />
                <rich:menuItem value="Льготы"/>
                <rich:menuItem value="Возрастные группы"  action="#{login.setCurpage('agegroup_catalog.xhtml')}" render="mform"/>
            </rich:dropDownMenu>
            <rich:dropDownMenu>
                <f:facet name="label">
                    <h:outputText value="Помощь"/>
                </f:facet>
                <rich:menuItem value="О программе" action="#{login.setCurpage('about.xhtml')}" render="mform"/>
                <rich:menuItem value="Учебник" action="#{login.setCurpage('welcome.xhtml')}" render="mform"/>
            </rich:dropDownMenu>
        </rich:toolBar>
    </h:form>
</h:panelGrid>      