<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
        <h3 style="text-align: center"> Журнал путевок </h3 >
        <h:form>
        <a4j:region>
        <rich:panel id="jp_m_panel" >
            <rich:panel id="jp_search_panel" header="Поиск путевки" >
                <table >
                    <tr>
                        <td><h:outputText value="Регистрационный Номер">                              
                            </h:outputText></td>
                        <td><h:inputText value="#{permits.filter_regnum}"> 
                               <a4j:support event="onchange" reRender="table"/>
                            </h:inputText></td>
                        <td><h:outputText value="Дата регистрации"/></td>
                        <td>
                            <rich:calendar value="#{permits.filter_datereg}" id="datereg" 
                                           popup="true" datePattern="dd/MM/yyyy" showApplyButton="true"   reRender="table" >
                                <a4j:support event="oncollapse" reRender="table"/>
                            </rich:calendar>
                            <h:selectOneMenu value="#{permits.filter_datereg_direction}"> 
                                <f:selectItem itemLabel="=" itemValue="0"/>
                                <f:selectItem itemLabel="&#60;" itemValue="1"/>
                                <f:selectItem itemLabel=">" itemValue="2" />
                                <a4j:support event="onchange" reRender="table"/>
                            </h:selectOneMenu >
                        </td>
                        <td><h:outputText value="Дата рождения"/></td>
                        <td>
                            <rich:calendar  id="datebirth" value="#{permits.filter_birth}" 
                    popup="true" datePattern="dd/MM/yyyy" showApplyButton="true" reRender="table">
                                 <a4j:support event="oncollapse" reRender="table"/>
                            </rich:calendar>
                             <h:selectOneMenu value="#{permits.filter_birth_direction}"> 
                                <f:selectItem itemLabel="=" itemValue="0"/>
                                <f:selectItem itemLabel="&#60;" itemValue="1"/>
                                <f:selectItem itemLabel=">" itemValue="2" />
                                <a4j:support event="onchange" reRender="table"/>
                            </h:selectOneMenu >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"/>
                        <td><h:outputText value="Возраст"/></td>
                        <td><h:inputText value="#{permits.filter_age}">   <a4j:support event="onchange" reRender="table"/></h:inputText></td>
                        <td><h:outputText value="Статус"/></td>
                        <td>
                            <h:selectOneMenu value="#{permits.filter_status}">
                                <f:selectItem itemLabel="Все" />
                                <f:selectItem itemLabel="Выдача путевки" itemValue="Выдача путевки"/>
                                <f:selectItem itemLabel="Подписан договор" itemValue="Подписан договор"/>
                                <f:selectItem itemLabel="Архив" itemValue="Архив" />
                           
                            </h:selectOneMenu >
                        </td>    
                    </tr>
                </table>
            </rich:panel>
            <rich:panel id="pan">
                <rich:dataTable rows="20" id="table" value="#{permits.premits}" var="permit" style=" width: 100%; border: 2px; ">
     
                       <rich:column >
                            <f:facet name="header">
                             <h:outputText value="Район"/>
                            </f:facet>
                            <h:outputText value="#{permit.area}"/>
                        </rich:column>
                        <rich:column >
                            <f:facet name="header">
                             <h:outputText value="Ф.И.О."/>
                             </f:facet>
                            <h:outputText value="#{permit.fio}"/>
                        </rich:column>
                        <rich:column filterExpression="#{login.compare(permit.age, permits.filter_age)}">
                             <f:facet name="header">
                             <h:outputText value="Возраст"/>
                             </f:facet>
                             <h:outputText value="#{permit.age}"/>
                               
                        </rich:column>
                    <rich:column filterExpression="#{permits.date_comp(permits.filter_birth, permit.birth , permits.filter_birth_direction)}">
                            <f:facet name="header">
                            <h:outputText value="Дата рождения"/>
                            </f:facet>
                            <h:outputText value="#{permit.birth.toLocaleString()}">
                                  
                            </h:outputText>
                       
                        </rich:column>
                    
                    <rich:column filterExpression="#{permits.id_comp(permits.filter_regnum,permit.permit_number)}">
                            <f:facet name="header">
                             <h:outputText value="№ путевки"/>
                             </f:facet>
                            <h:outputText value="#{permit.permit_number}"/>
                        </rich:column>
                    <rich:column filterExpression="#{permits.date_comp(permits.filter_datereg, permit.permit_date, permits.filter_datereg_direction)}">
                            <f:facet name="header">
                             <h:outputText value="Дата выдачи путевки"/>
                             </f:facet>
                        <h:outputText value="#{permit.permit_date.toLocaleString()}">
                        </h:outputText>
                        </rich:column>
                    <rich:column filterExpression="#{login.compare(permit.age, permits.filter_age)}">
                            <f:facet name="header" >
                             <h:outputText value="Статус"/>
                             </f:facet>
                            <h:outputText value="#{permit.status}"/>
                        </rich:column>
                        <rich:column >
                            <f:facet name="header">
                             <h:outputText value="Действие"/>
                             </f:facet>
                                   <h:outputText value="Действие"/>
                        </rich:column>
                 
                </rich:dataTable>
                <rich:datascroller page="#{permits.page}" for="table" reRender="table"/>
            </rich:panel>
        </rich:panel>
        </a4j:region>
        </h:form>
</ui:composition>