<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <title>Авторизация. Attendance</title>
    </head>
    <body>
         <f:view>
          <a4j:form>
                <rich:panel style="text-align: center" >
                    <f:facet name="header" >  Attendance.  Авторизация.             
                    </f:facet>
                
                        <table style="margin: auto;">
                            <tr>    
                                <td>
                                    <h:outputText value="Имя пользователя"/>
                                </td>
                                <td>
                                    <h:inputText id="login" value="#{login.username}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputText value="пароль"/>
                                </td>
                                <td>
                                    <h:inputSecret id="pass" value="#{login.pass}"/>
                                </td>
                            </tr>
                             <tr>
                                 <td colspan="2">
                                     <h:commandButton value="Авторизация" action="#{login.check_user}"/>
                                </td>
                                
                            </tr>
                       </table>
                   
                </rich:panel>
            </a4j:form>
        </f:view>
        </body>
</html>

